<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class= "main-header-top-bar">
            
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo-mercado-liebre">
          
                <form action="search" class="form-search-bar">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más....">
                    <i class="fas fa-search"></i>
                </form>
                         
                <h2 class="bottom-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y con tarjeta de crédito
                </h2>
        </div>


        <nav class="main-nav-bar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main class="main-ppal">
        <section class="last-visit">
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="products">
                <article class="main-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>  
                </article>
                <article class="main-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3 class="titulares">Ofertas</h3>
            <div class="products">
                <article class="main-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>  
                </article>
                <article class="main-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="articulos-ppales">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                         </div>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="main-footer">
        <section class="section-footer">
            <article class="conditions">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="conditions">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="conditions">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>

        <section>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        
            <article class="link">
                <p><a href="https://github.com/ignacioiriondo">Clickea acá y explorá mi github &#128640; </a></p>
            </article>


        </section>
    </footer>
</body>

</html>