<header class="main-header">
    <div class= "main-header-top-bar">
            <a href='/' class="logo-mercado-liebre">
                <img src="../../images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </a>
                <form action="search" class="form-search-bar">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más....">
                <i class="fas fa-search"></i>
            </form>
                     
            <h2 class="bottom-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
            </h2>
    </div>


    <nav class="main-nav-bar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <% if (locals.isLogged) { %>
                                      
            <li>
                <!-- <img src="/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;">-->
                <a href="/users/profile">Hola <%= locals.userLogged.fullname %> <i class="fas fa-user"></i></a>
            
            </li>
            <% } else { %>
            <li><a href="/users/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <% } %>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
    </a>
</header>